[submodule "frontend"]
	path = frontend
	url = https://github.com/lorrayneantonielle/FrontendMLBEntidades
[submodule "servico"]
	path = servico
	url = https://github.com/lorrayneantonielle/ServicoMLBEntidades
